body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 20px;
}

header {
    background-color: #f4f4f4;
    padding: 1px;
    text-align: center;
    border: 1.5px solid black;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
}

form,
#task-list {
    background-color: #f4f4f4;
    border: 1.5px solid black;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    box-sizing: border-box;
}

#form-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* #task-list h2,
form h2 {
    text-align: center;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
} */